@font-face {
    font-family: aussie-ocean;
    src: url('fonts/aussie_ocean/Aussie\ Ocean.ttf');
}
@font-face {
    font-family: carolina-mountains;
    src: url('fonts/carolina_mountains/Carolina\ Mountains\ Personal\ Use.ttf');
}
@font-face {
    font-family: marlina4;
    src: url('fonts/marlina_4/Marlina.ttf');
}
@font-face {
    font-family: type-machine;
    src: url('fonts/type_machine/Type\ Machine.ttf');
}
@font-face {
    font-family: marcellus;
    src: url('https: //fonts.gstatic.com/s/marcellus/v13/wEO_EBrOk8hQLDvIAF81VvoK_kgXiQ.woff2');
}
@font-face {
    font-family: allura;
    src: url('fonts/allura.regular.ttf');
}
html {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    font-size: 13px !important;
    font-family: monospace !important;
}

.icon-white{
    filter: invert(1);
    width: 40px;
    height: 40px;
}
/* .btn-circle {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
} */
.rsvp {
    font-family: carolina-mountains;
    font-size: 23px !important;
    color: white !important;
}
#template {
    background-color: #fcf2f6;
}

/*  //////////
    PAGE 1 
    //////////
*/ 
#pg1 {
    /* BACKGROUND */
    /* background-image: url("img/bg-demo.jpg");
    background-repeat: round;
    background-size: cover; */
    text-align: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.pg1-title {
    /* width: 100%; */
    /* padding-top: 200px; */
}

.pg1-title2-group {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pg1-title2 {
    /* width: 100%; */
    /* padding-top:200px; */
    /* padding-bottom:100px */
    font-family: aussie-ocean;
    font-size: 90px;
    line-height: 0.75em;
}

.pg1-title3 {
    /* padding-top:100px; */
    font-size: 16px;
    font-family: type-machine;
}

/*  //////////
    PAGE 2
    //////////
*/
#pg2 {
    /* BACKGROUND */
    /* background-image: url("img/bg-demo.jpg");
    background-repeat: round;
    background-size: cover; */
    min-height: 100vh;
}
.pg2-line {
    background-image: linear-gradient(#000, #000);
    background-size: 1px 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

.font-name{
    font-family: cursive;
    font-size: 20px;
}

.font-type-machine{
    font-family: type-machine;
}

.vertical-line {

            display: inline-block;
            border-left: 1px solid #ccc;
            margin: 0 10px;
            height: 125px;

}
#pg3 {
    /* BACKGROUND */
    /* background-image: url("img/bg-demo.jpg");
    background-repeat: round;
    background-size: cover; */

    text-align: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.bottom-fixed {
    position: fixed !important;
    bottom: 0;
    z-index: 1030;
}