@font-face {
    font-family: montserrat;
    /* src: url('fonts/Montserrat/static/Montserrat-Regular.ttf'); */
    src: url('https://d29539q498fyfe.cloudfront.net/public/fonts/Montserrat/static/Montserrat-Regular.ttf');
}
@font-face {
    font-family: montserrat-semibold;
    /* src: url('fonts/Montserrat/static/Montserrat-SemiBold.ttf'); */
    src: url('https://d29539q498fyfe.cloudfront.net/public/fonts/Montserrat/static/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: aussie-ocean;
    /* src: url('fonts/aussie_ocean/Aussie\ Ocean.ttf'); */
    src: url('https://d29539q498fyfe.cloudfront.net/public/fonts/aussie_ocean/Aussie\ Ocean.ttf');
}
@font-face {
    font-family: carolina-mountains;
    /* src: url('fonts/carolina_mountains/Carolina\ Mountains\ Personal\ Use.ttf'); */
    src: url('https://d29539q498fyfe.cloudfront.net/public/fonts/carolina_mountains/Carolina\ Mountains\ Personal\ Use.ttf');
}
@font-face {
    font-family: type-machine;
    /* src: url('fonts/type_machine/Type\ Machine.ttf'); */
    src: url('https://d29539q498fyfe.cloudfront.net/public/fonts/type_machine/Type\ Machine.ttf');
}
html {
    height: 100%;
}
body {
    margin: 0;
    font-size: 13px !important;
    font-family: montserrat !important;
}
.icon-white{
    width: 35px;
    height: 35px;
}
.icon {
    width:25px
}
.rsvp {
    font-size: 23px !important;
    color: white !important;
}
.font-type-machine {
    font-family: type-machine;
}
.font-montserrat-semibold {
    font-family: montserrat-semibold;
}
.font-type-cursive {
    font-family: cursive;
}
.z-index-100 {
    z-index: 100;
}
#template {
    box-shadow: inherit;
    width: 100%;
}

#icon-dropdown {
    z-index: 200;
    top: 82vh
}


@media only screen and (min-width: 480px) {
    #template, #icon-dropdown {
        width: 500px !important;
    }
}

/*  //////////
    PAGE 1 
    //////////
*/ 
#main {
    text-align: center;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    
}
#main-bg {
    width: 100%;
    height: 100%;
    background-image: url("img/bg-flower.png");
    background-size: inherit;
    background-position: top;
    position: absolute;
    top: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: round;
}

.main-title2-group {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: aussie-ocean;
    font-size: 110px;
    line-height: 0.75em;
}
/*  //////////
    PAGE 2
    //////////
*/
#undangan {
    /* codehere */
}
#undangan-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-image: url("https://d29539q498fyfe.cloudfront.net/public/img/bg1.jpg");
    background-size: inherit;
    background-position: top;
}
.undangan-line {
    background-image: linear-gradient(#000, #000);
    background-size: 1px 90%;
    background-repeat: no-repeat;
    background-position: center center;
}
/*  //////////
    PAGE 2
    //////////
*/
#info {
    /* codehere */
}
#info-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-image: url("https://d29539q498fyfe.cloudfront.net/public/img/flower-gold.jpg");
    background-size: cover;
    background-position: center;
}

.details {
    text-align: center;
    justify-content: center;
    align-items: center;
}
#doa {
    text-align: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px !important;
}
#doa {
    line-height: 2;
}
#doa-bg {
    width: 100%;
    height: 100%;
    background-image: url("https://d29539q498fyfe.cloudfront.net/public/img/tunang.jpg") ;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    opacity: 0.8;
    z-index: 1;
}
.bottom-fixed {
    position: fixed !important;
    bottom: 0;
    z-index: 1030;
}
#hubungi{
    /* codehere */
}
#hubungi dl dt {
    text-align: right
}
#hubungi dl dd {
    text-align: left
}
.cursor-pointer {
    cursor: pointer;
}